@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

:root {
  --sidebar-width: 16rem; /* 64 in Tailwind */
  --sidebar-collapsed-width: 5rem; /* 20 in Tailwind */

  --color-primary: 37 99 235;
  --color-secondary: 250 204 21;
  --color-accent: 59 130 248;
  --color-accent-light: #3b82f640;
  --color-text: 31 41 55;
  --color-text-secondary: 75 85 99;
  --color-text-placeholder: 156 163 175;
  --color-background: 249 250 251;
  --color-surface: 255 255 255;
  --color-border: 229 231 235;
  --color-neutral: 209 213 219;
  --color-error: 239 68 68;
  --color-smooth: 243 244 246;
  --color-black: 0 0 0;
}

.dark {
  --color-primary: 35 70 241;
  --color-secondary: 251 191 36;
  --color-accent: 59 130 246;
  --color-accent-light: #3b82f640;
  --color-text: 243 244 246;
  --color-text-secondary: 209 213 219;
  --color-text-placeholder: 107 114 128;
  --color-background: 17 24 39;
  --color-surface: 31 41 55;
  --color-border: 55 65 81;
  --color-neutral: 75 85 99;
  --color-error: 248 113 113;
  --color-smooth: 55 65 81;
  --color-black: 0 0 0;
}

._fadeOutUp {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: _fadeOutUp;
  animation-name: _fadeOutUp;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

._fadeInDown {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: _fadeInDown;
  animation-name: _fadeInDown;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@keyframes _fadeInDown {
  from {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes _fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    display: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

/* Removes arrows from input type="number" in WebKit-based browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
