@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

:root {
  --sidebar-width: 16rem; /* 64 in Tailwind */
  --sidebar-collapsed-width: 5rem; /* 20 in Tailwind */
}

._fadeOutUp {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-name: _fadeOutUp;
  animation-name: _fadeOutUp;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

._fadeInDown {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-name: _fadeInDown;
  animation-name: _fadeInDown;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

@keyframes _fadeInDown {
  from {
    display: block;
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes _fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    display: none;
  }
}

.rotate {
  transform: rotate(180deg);
}

/* Removes arrows from input type="number" in WebKit-based browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removes arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
